@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PPEditorialNew-UltralightItalic";
  src: url("https://raw.githubusercontent.com/oeneco/file-thing/9f9223f211387b3764942fcff87f57523870916d/PPEditorialNew-UltralightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* Add mobile menu custom variables */
:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 240, 240, 240;
  --menu-bg-color: #1f2937; /* Dark background for light mode */
  --menu-text-color: white;
}

.dark {
  --foreground-rgb: 240, 240, 240;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --menu-bg-color: #f3f4f6; /* Light background for dark mode */
  --menu-text-color: #111827;
}

@layer base {
  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "PPEditorialNew-UltralightItalic", sans-serif;
    font-weight: 200;
    font-style: italic;
    letter-spacing: -0.025em;
  }

  p {
    font-family: var(--font-inter);
    font-weight: 300;
  }

  /* Add styling for input placeholders */
  input::placeholder,
  textarea::placeholder {
    @apply text-gray-400 dark:text-white/40;
  }
}
